<h2>My Heroes</h2>
<ul class="utenti">
  <li *ngFor="let utente of utente">
    <button [class.selected]="utente === selectedUtente" type="button" (click)="onSelect(utente)">
      <span class="badge">{{utente.id}}</span>
      <span class="name">{{utente.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedUtente">
  <h2>{{selectedUtente.name | uppercase}} Details</h2>
  <div>id: {{selectedUtente.id}}</div>
  <div>
    <label for="utente-name">Utente name: </label>
    <input id="utente-name" [(ngModel)]="selectedUtente.name" placeholder="name">
  </div>
</div>